.container {
  margin-top: 20px;
}

.buttonsArea {
  text-align: center;
}

.gifArea {
  margin-top: 20px;
}

.gifs {
  display: inline-block;

  margin: 1.5rem 1rem 1.5rem 1.5rem;
}

.img {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  margin-bottom: 5px;
}
